$colorXL: #eee7d7;
$colorL: #ffe4cd;
$colorM: #ffc18b;
$colorD: #fd8749;
$colorXD: #fb691a;
$colorXDbleu: #0c282b;
$colorTbleu: #243c3ca8;


body {
   margin: 0;
   padding: 0;
   background-color: $colorXDbleu;
}

main {
   display: flex;
   background-image: url("../images/pexels-vlad-bagacian-1368382.jpg");
}

main > p::first-letter {
   color: $colorD ;
   font-size: larger;
   font-family: fantasy;
}

main > p {
   position: relative;
    width: 60%;
    right: -248px;
    font-size: larger;
    font-family: cursive;
    color: $colorL;
}

/* Banner */

header > img {
   width: 100%;
   height: 250px;
   object-fit: cover;
}

/* Nav */

nav {
   height: 30px;
   background-color: $colorXDbleu;
   text-align-last: start;
   display: flex;
}

nav > a, nav > input {
   text-decoration-line: none;
   margin: 2px 25px;
}
nav > a {
   color: $colorL;
}

/* side nav */

.sideNav {
   width: 160px;
   position: absolute;
   z-index: 1;
   top: 284px;
   left: 0;
   background-color: $colorTbleu;
   overflow-x: hidden;
   padding-top: 20px;
   height: 565px;
 }
 
 .sideNav a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 25px;
   color: $colorXL;
   display: block;
 }

 .sideNav a:hover {
    color: $colorM;
 }

 .sideNav a:active {
    color: $colorD;
 } 

 /* recherche bar */
 
 nav .searchContainer button {
   background: $colorXL;
   font-size: 17px;
   border: none;
   cursor: pointer;
 }
 
 nav .searchContainer button:hover {
   background: $colorL;
 }

/* Carousel */

#carousel {
   position: relative;
   left: 175px;
 }
 
 .myImages {
   display: none;
 }
 
 .myImages > img {
   height: 615px;
 }
 
 /* Next & previous buttons */

 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
 
 .next {
   left: 369px;
   border-radius: 3px 0 0 3px;
 }
 
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }
 
 .numbertext {
   color: $colorXL;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 /* indicators */

.indicateur {
   position: absolute;
   top: 90%;
   left: 190px;
} 

 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active, .dot:hover {
   background-color: #717171;
 }
 
/* formulaire */

form {
   margin: auto;
   white-space: break-spaces;
   margin-block: 70px;
}

form label {
   color: $colorL;
}

fieldset {
   border: none;
}

input:required:focus {
   border-color: red;
 }

#email:required:focus:invalid  {
   border-color:red;
}

#email:required:focus:valid  {
   border-color: limegreen;
}

/* table */

table {
   position: relative;
   left: 170px;
   margin: 40px 5px;
}

table tr:nth-child(even) {
   background-color: $colorTbleu;
}

caption {
   font-size: x-large;
   color: $colorXD; 
   text-align-last: left;
}

thead {
   color: $colorD;
}

tbody > tr > th {
   color: $colorM;
   padding-right: 15px;
}

tbody > tr > td {
   color: $colorL;
   width: 16rem;
}

th, td {
   padding-block: 25px;
}

/* footer */

.footer {
   background-color: $colorXDbleu;
   bottom: 0;
   padding-left: 12px;
   position: absolute;
   width: -webkit-fill-available;
}

footer p {
   color: $colorL;
}