body {
  margin: 0;
  padding: 0;
  background-color: #0c282b;
}

main {
  display: flex;
  background-image: url("../images/pexels-vlad-bagacian-1368382.jpg");
}

main > p::first-letter {
  color: #fd8749;
  font-size: larger;
  font-family: fantasy;
}

main > p {
  position: relative;
  width: 60%;
  right: -248px;
  font-size: larger;
  font-family: cursive;
  color: #ffe4cd;
}

/* Banner */
header > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Nav */
nav {
  height: 30px;
  background-color: #0c282b;
  text-align-last: start;
  display: flex;
}

nav > a, nav > input {
  text-decoration-line: none;
  margin: 2px 25px;
}

nav > a {
  color: #ffe4cd;
}

/* side nav */
.sideNav {
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 284px;
  left: 0;
  background-color: #243c3ca8;
  overflow-x: hidden;
  padding-top: 20px;
  height: 565px;
}

.sideNav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #eee7d7;
  display: block;
}

.sideNav a:hover {
  color: #ffc18b;
}

.sideNav a:active {
  color: #fd8749;
}

/* recherche bar */
nav .searchContainer button {
  background: #eee7d7;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .searchContainer button:hover {
  background: #ffe4cd;
}

/* Carousel */
#carousel {
  position: relative;
  left: 175px;
}

.myImages {
  display: none;
}

.myImages > img {
  height: 615px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  left: 369px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #eee7d7;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* indicators */
.indicateur {
  position: absolute;
  top: 90%;
  left: 190px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* formulaire */
form {
  margin: auto;
  white-space: break-spaces;
  margin-block: 70px;
}

form label {
  color: #eee7d7;
}

fieldset {
  border: none;
}

input:required:focus {
  border-color: red;
}

#email:required:focus:invalid {
  border-color: red;
}

#email:required:focus:valid {
  border-color: limegreen;
}

/* table */
table {
  position: relative;
  left: 170px;
  margin: 40px 5px;
}

table tr:nth-child(even) {
  background-color: #243c3ca8;
}

caption {
  font-size: x-large;
  color: #fb691a;
  text-align-last: left;
}

thead {
  color: #fd8749;
}

tbody > tr > th {
  color: #ffc18b;
  padding-right: 15px;
}

tbody > tr > td {
  color: #ffe4cd;
  width: 16rem;
}

th, td {
  padding-block: 25px;
}

/* footer */
.footer {
  background-color: #0c282b;
  bottom: 0;
  padding-left: 12px;
  position: absolute;
  width: -webkit-fill-available;
}

footer p {
  color: #ffe4cd;
}

/*# sourceMappingURL=style.css.map */
